/*
 * Copyright (c) 2026 Muhammad Waleed Badar
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		/* Matter state (fabrics, attributes) is kept in the settings */
		zephyr,settings-partition = &storage_partition;
	};
};
